html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: blanchedalmond;
}

#container {
    
    margin: 0 auto;
    padding: 1%;
}

/* Add an arctic blue background color to top navigation. Overflow relates to what should happen 
if content overflows a links box  */
.nav    {
    overflow: hidden;
    background-color: aliceblue 
}

/* Style links inside navigation bar. Color relates to links color */
.nav a  {
    float: left;
    display: block;
    color: maroon;
    text-align: center;
    padding: 0.35%;
    text-decoration: none;
    font-size: 1.13em;
}

/* Add an active class to highlight current page. Color relates to links color */
.active {
    background-color: teal;
    color: maroon;
}

/* Hide link that should open and close top navigation on small screens */
.nav .icon  {
    display: none;
}

/* Dropdown container - needed to position dropdown content */
.dropdown   {
    float: left;
    overflow: hidden;
}

/* Style dropdown button to fit inside top navigation */
.dropdown  .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0%
}

/* Style dropdown content. Note that it is hidden by default */
.dropdown-content   {
    display: none;
    position: absolute;
    background-color: lightcoral;
    min-width: 145px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style links inside dropdown. Color relates to color of dropdown links */
.dropdown-content a {
    float: none;
    color: brown;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add dark background on top navigation links and dropdown button on hover */
.nav a:hover, .dropdown:hover .dropbtn  {
    background-color: slateblue;
    color: saddlebrown;
}

/* Add a alice blue background to dropdown links on hover */
.dropdown-content a:hover   {
    background-color: aliceblue;
    color: saddlebrown;
}

/* Show dropdown menu when user moves mouse over dropdown button */
.dropdown:hover .dropdown-content   {
    display: block;
}


/* When screen is less than 550px wide, hide all links, except for the first one ("Home").   
Show the link that should contain the top navigation icon */
@media screen and (max-width: 550px) {
    .nav a:not(:first-child),  .dropdown  .dropbtn  {
        display: none;
    }
    .nav a.icon  {
        float: right;
        display: block;
    }

    body {
        background-color: dodgerblue;
    }
}

/* The "responsive" class is added to the top navigation with Javascript when user clicks on icon.
This class makes the top navigation look good on small screens 
(displays links vertically instead of horizontally) */
@media screen and (max-width: 550px)  {
    .nav.responsive  {position: relative;}
    .nav.responsive .icon   {
        position: absolute;
        right: 0;        
        top: 0;
    }
    .nav.responsive .dropdown   {float: none;}  
    .nav.responsive .dropdown-content   {position: relative;}
    .nav.responsive .dropdown   .dropbtn    {
        display: block;
        width: 100%;
        text-align: left;
    }
}



.intro {
    font-size: 1.22em;
}

h1 {
    color: brown; text-align: center; margin: 2.20%; padding: 1%; 
}

h2 {
    text-align: center; 
}

h3 {
    color: black; margin-left: 1%;
}

h4 {
    color: darkgoldenrod 
}

h5 { 
    font-style: italic; display: inline; font-weight: bold;
}

ul {
    line-height: 160%; margin-left: 1%; list-style-position: outside; 
    display: block; font-weight: bold; list-style-type: circle; 
}

ul.styled-list {
    font-weight: normal
}

p {
    font-weight: normal;
}

p.description {
    font-size: 1.4em;
    font-style: initial
}

#wireframes p {
    font-size: 0.95em;
    font-weight: bold;
}

.u-max-full-width {
    border: 2px solid blue;
}

img {
    max-width: 100%;
    max-height: auto;
    width: 460px;
    height: auto;
   
}      

.row-break {
    height: 2.0em;
}



/* When screen is more than 550px wide, display dropdown buttons and show drop down links when user has clicked dropdown icon on dropdown button.   
Show the link that should contain the top navigation icon */
@media screen and (min-width: 551px) and (max-width: 768px)    {
    .nav a:not(:first-child),  .dropdown  .dropbtn  {
        display: inline-block;
    }
    .nav a.icon  {
        
        display: inline-block
    }

    .columns {
    float:left;
    width: 100%;
    }
    
    body {
        background-color: azure;
    }
}

/* The "responsive" class is added to the top navigation with Javascript when user clicks on icon.
This class makes the top navigation look good on small screens 
(displays links vertically instead of horizontally) */
@media screen and (min-width: 551px) and (max-width: 768px)    {
    .nav.responsive  {position: relative;}
    .nav.responsive .icon   {
        position: absolute;
        right: 0;        
        top: 0;
    }
    .nav.responsive .dropdown   {float: none;}  
    .nav.responsive .dropdown-content   {position: relative;}
    .nav.responsive .dropdown   .dropbtn    {
        display: block;
        width: 100%;
        text-align: left;
    }
}



/* When screen is less than 550px wide, hide all links, except for the first one ("Home").   
Show the link that should contain the top navigation icon */
@media screen and (min-width: 551px) and (max-width: 768px) {
    .nav a:not(:first-child),  .dropdown  .dropbtn  {
        display: none;
    }
    .nav a.icon  {
        float: right;
        display: block;
    }
    
    body {
        background-color: blanchedalmond;
    }
}

/* The "responsive" class is added to the top navigation with Javascript when user clicks on icon.
This class makes the top navigation look good on small screens 
(displays links vertically instead of horizontally) */
@media screen and (min-width: 769px) {
    .nav.responsive  {position: relative;}
    .nav.responsive .icon   {
        position: absolute;
        right: 0;        
        top: 0;
    }
    .nav.responsive .dropdown   {float: none;}  
    .nav.responsive .dropdown-content   {position: relative;}
    .nav.responsive .dropdown   .dropbtn    {
        display: block;
        width: 100%;
        text-align: left;
    }
}