html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: blanchedalmond;
}

#container {
    
    margin: 0 auto;
    padding: 1%;
}



.menu {
    margin: auto;
    font-size: 1.13em;
    padding: 0.35%;     
}

ul.menu-ctn {
    list-style: none;
}

.menu-ctn > li {
        clear: right;       
        background-color: aliceblue;
        align-content: center; 
        height: auto; 
        width: auto; 
        border: 1px solid black;         
        padding: 0.35% 0.35%;
        border-radius: 0.8em;
        display: inline-block; 
        position: relative;
        margin: auto;
        transition: all 0.8s ease;
}

#dropdown {
    display: none;
    position: absolute;
    width: 100%;
    background-color: coral
    z-index: 1;
    text-align: center;
    left: 0;
    top: 100%;
}

#dropdown li {
    padding: 1%, 1%;

}

#dropdown li.active {
    display: block
}

.menu-ctn li:link {
    color: maroon; text-decoration-line: none; 
}
.menu-ctn li:visited {
    color: navy; text-decoration-line: none
}
.menu-ctn li:hover {
    color: saddlebrown; text-decoration-line: none;
    cursor: pointer;
    background-color: beige
}
.menu-ctn li:active {
    color: black; text-decoration-line: none
}
.menu-ctn li:focus {
    color: blue; text-decoration-line: none
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 550px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu-ctn li {
        display: block;
        border: 1px solid black; 
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }

    body {
        background-color: dodgerblue;
    }

}




.intro {
    font-size: 1.22em;
}

h1 {
    color: brown; text-align: center; margin: 2.20%; padding: 1%; 
}

h2 {
    text-align: center; 
}

h3 {
    color: black; margin-left: 1%;
}

h4 {
    color: darkgoldenrod 
}

h5 { 
    font-style: italic; display: inline; font-weight: bold;
}

ul {
    line-height: 160%; margin-left: 1%; list-style-position: outside; 
    display: inline-block; font-weight: bold; list-style-type: circle; 
}

ul.styled-list {
    font-weight: normal
}

p {
    font-weight: normal;
}

p.description {
    font-size: 1.4em;
    font-style: initial
}

#wireframes p {
    font-size: 0.95em;
    font-weight: bold;
}

.u-max-full-width {
    border: 2px solid blue;
}

img {
    max-width: 100%;
    max-height: auto;
    width: 460px;
    height: auto;
   
}      

.row-break {
    height: 2.0em;
}



@media only screen and (min-width: 551px) and (max-width: 768px) {

.columns {
    float:left;
    width: 100%;
}
    
.menu-ctn li {
    height: initial;
    width: initial; 
    margin: initial;
    float: initial;
    display: initial;
}

body {
    background-color: azure;
}

}
